# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
dictionary={}
type(dictionary)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
data={"Alabama": "Montgomery",
      "Arizona": "Phoenix",
      "Georgia": "Atlanta",
      "Kentucky": "Frankfort",
      "Ohio" : "Salem"}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [4]:
data["Alabama"] #Access dictionary values by its key name

'Montgomery'

In [5]:
data["Ohio"]

'Salem'

In [6]:
#data["Louisiana"] #If you search for kay value not in dicitonary, you will get a key error

In [7]:
days={1:"Monday",
      2: "Tuesday",
      4:("Thursday", "Friday"),
      5: ["Saturday", "Holiday"]}

In [8]:
days[4][0] #Will return Thursday

'Thursday'

In [9]:
days[5][1] #Will return Holiday

'Holiday'

In [10]:
days[2]#Will return tuesday

'Tuesday'

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [11]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [12]:
days[5][0]="Holiday"
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [13]:
days[1]="Holiday"
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [14]:
days[3]="Wednesday" #Not in order BUT just add new key and value and it adds (DICTIONARIES ARE NOT IN ORDER)
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [15]:
days[6]=["xyz", "ABC"]
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday',
 6: ['xyz', 'ABC']}

### Update elements of a dictionary and add new elements

In [16]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [18]:
#Access an element using .get() method
data.get("Alabama")

'Montgomery'

In [19]:
data.get("Ohio")

'Salem'

In [20]:
print(data.get("Louisiana")) #.get() a value that is not present DOES NOT generate an erroe, it just returns "None"

None

In [21]:
#Update a dicitionary

In [22]:
data.update({"Kentucky": "Lousville", "Louisiana": "Baton Rouge"}) #Can change multiple values at a time AND add multiple values at a time
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Lousville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

# YOU CAN ONLY CHANGE DICTIONARY VALUES, KEYS ARE `IMMUTABLE`

### Delete dictionary items using `del` and `pop`

In [23]:
del data["Alabama"]
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Lousville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [24]:
del data["Ohio"]
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Lousville',
 'Louisiana': 'Baton Rouge'}

In [25]:
data.pop("Arizona")
data

{'Georgia': 'Atlanta', 'Kentucky': 'Lousville', 'Louisiana': 'Baton Rouge'}

In [26]:
data.pop("Kentucky")
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [27]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [28]:
len(data)

2

In [29]:
data.keys()

dict_keys(['Georgia', 'Louisiana'])

In [30]:
data.values()

dict_values(['Atlanta', 'Baton Rouge'])

In [31]:
data.items()

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [32]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [33]:
for key in data.keys():
    print(key)
    print(type(key))

Georgia
<class 'str'>
Louisiana
<class 'str'>

In [34]:
for value in data.values():
    print(value)
    print(type(value))

Atlanta
<class 'str'>
Baton Rouge
<class 'str'>

In [35]:
for item in data.items():
    print(item)
    print(type(item))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [36]:
#Tuple unpacking in a dictionary
for state, capitol in data.items():
    print(type(state), type(capitol))
    print(state, capitol)
    print("State Name", state)
    print("Capitol Name", capitol)

<class 'str'> <class 'str'>
Georgia Atlanta
State Name Georgia
Capitol Name Atlanta
<class 'str'> <class 'str'>
Louisiana Baton Rouge
State Name Louisiana
Capitol Name Baton Rouge

### Convert dictionary to lists using `list()` function

In [37]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [38]:
state= list(data.keys())
print(state)
type(state)

['Georgia', 'Louisiana']

list

In [39]:
capitol= tuple(data.values())
print(capitol)
type(capitol)

('Atlanta', 'Baton Rouge')

tuple

### A List in a Dictionary

In [40]:
favorite_languages={"Jen" : ["Python", "Ruby"],
    "Sarah" : ["C"],
    "Edward" : ["Ruby", "Java"],
    "Phil" : ["Python", "Haskell"]}
favorite_languages

{'Jen': ['Python', 'Ruby'],
 'Sarah': ['C'],
 'Edward': ['Ruby', 'Java'],
 'Phil': ['Python', 'Haskell']}

In [41]:
favorite_languages["Sarah"]

['C']

In [42]:
for name, languages in favorite_languages.items():
    print("\n"+name.upper()+" favorite languages are:")
    for language in languages:
        print("\t\t\t", language.upper())

JEN favorite languages are:
			 PYTHON
			 RUBY

SARAH favorite languages are:
			 C

EDWARD favorite languages are:
			 RUBY
			 JAVA

PHIL favorite languages are:
			 PYTHON
			 HASKELL

###  A Dictionary in a Dictionary

In [45]:
users={"einstein":
       {"first": "albert",
       "last": "einstesin",
      "location": "princeton",},
       "mcurie":
       {"first": "marie",
       "last":"curie",
       "location": "paris",}}
users

{'einstein': {'first': 'albert', 'last': 'einstesin', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [62]:
for username, userinfo in users.items():
    print("Username:", username.title())
    #print("Userinfo:", userinfo)
    fullname=userinfo["first"] + " " + userinfo["last"]
    location=userinfo["location"]
    print("\t Fullname:", fullname.title())
    print("\t Location:", location.title())

Username: Einstein
	 Fullname: Albert Einstesin
	 Location: Princeton
Username: Mcurie
	 Fullname: Marie Curie
	 Location: Paris